/* link Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

/* colour part */
:root {
    --primary-color: #09559C;  
    --secondary-color: #FF7C1D; 
    --text-color: #333333;      
    --background-color: #f0f0f0; 
}

/* Global font setting */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Title style setting */
h1, h2, h3, h4, h5 {
    font-family: 'Orbitron', sans-serif;
    color: var(--background-colorbackground-color);
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.8rem;
}

h3 {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 0.7rem;
}

h4 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.6rem;
}

h5 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

