/* Layout styles */
.home-page header {
    /* Remove the original background color and replace it with a background image */
    background-image: url('../images/background1.png'); /* Use the actual path to the image */
    background-size: cover; /* Ensure the image covers the entire area */
    background-position: center; /* Center the background image */
    height: 410px; /* Set the height of the header */
    display: flex; /* Use flex layout for vertically centering the text */
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    text-align: center; /* Center the text */
    color: white; /* Ensure text is clearly visible on the background image */
    padding: 20px;
}

/* Ensure the "Get Fit" text color on the homepage is white */
.home-page header h1 {
    color: white !important; /* Force the text color to be white */
    font-size: 3rem; /* Adjust font size as needed */
    font-family: 'Orbitron', sans-serif; /* Use the Open Sans font */
    text-align: center; /* Center the text */
}

header {
    background-color: #f4f4f4; 
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black; 
    padding: 20px;
}

/* nav style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #09559C;
    padding: 20px;
    height: 30px; 
}

nav ul {
    list-style-type: none;
    margin: 0; /* Center the navigation item */
    padding: 0;
    display: flex;
    justify-content: space-around;
    width: 50%;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem; 
}

nav ul li a:hover {
    text-decoration: underline;
}

/* logo and brand name style */
.logo-section {
    display: flex;
    align-items: center;
    position: relative; 
    margin-left: -50px; 
}

.logo {
    height: 50px; 
    margin-right: 10px;
}

.brand-name {
    color: white;
    font-size: 1.5rem;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold; 
}



/* Menu icon styles */
.menu-icon {
    position: relative;
}

.menu-icon img {
    height: 40px;
    cursor: pointer;
}

/* Hide dropdown menu by default */
.dropdown-menu {
    display: none;
}

.dropdown-menu.show {
    display: block; /* Show the menu */
    position: absolute;
    right: 0;
    top: 50px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1;
    width: 150px; 
}

.menu-icon:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    list-style: none;
    padding: 10px 20px;
}

.dropdown-menu li a {
    color: #515151; 
    text-decoration: none;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 300; 
    line-height: 2; 
}

.dropdown-menu li a:hover {
    text-decoration: underline;
}


/* home card */
.feature-section {
    display: flex;
    flex-direction: column; /* Set vertical layout */
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background-color: #f4f4f4;
    overflow-y: auto; /* Enable vertical scroll */
    max-height: 200vh; 
}

.feature-card {
    display: flex;
    width: 90%; 
    max-width: 1400px; 
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px;
    height: 300px; 
    transition: transform 0.3s ease, filter 0.3s ease; /* Smooth transition */
}

.feature-card:hover {
    transform: scale(1.05); /* Slight zoom on hover */
    filter: brightness(1.2); /* Increase brightness */
    z-index: 1;
}

.card-image {
    width: 50%;
    object-fit: cover;
}

.card-content {
    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-content h2 {
    font-size: 3rem;
    color: #09559C;
    font-family: 'Open Sans', sans-serif;
}

.card-content p {
    font-size: 1rem;
    color: #515151;
    margin: 10px 0;
    font-family: 'Open Sans', sans-serif;
}

.learn-more {
    font-size: 1rem;
    color: #427ae1;
    text-decoration: none;
    margin-top: 10px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

.learn-more:hover {
    text-decoration: underline;
}



/* Footer styles */
footer {
    background-color: #09559C; 
    color: white; 
    text-align: center; 
    padding: 20px 0; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 1.2rem; 

}

main {
    padding-bottom: 40px; 
}



/* Fit page */
body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden; /* Remove horizontal scrollbar */
}

/* Hero Section */
.intro-section {
    position: relative;
    width: 100%;
    height: 500px; 
    overflow: hidden;
}

.image-container {
    width: 100%;
    height: 100%;
}

.intro-image {
    width: 100%; 
    height: 100%;
    object-fit: cover;
}

.intro-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Add semi-transparent black overlay */
    z-index: 1;
}

.intro-text p{
    position: absolute;
    bottom: 20px; /* Move text to bottom-left */
    left: 20px;
    color: rgb(227, 227, 227);
    font-size: 3rem;
    font-weight: bold;
    z-index: 2;
}

.intro-text h1 {
    color: white; /* Set text color to white */
    font-size: 3rem; /* Font size */
    font-family: 'Orbitron', sans-serif; /* Consistent font */
    text-align: center; /* Center align text */
    position: absolute; /* Absolute positioning */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center within parent container */
    z-index: 2; /* Ensure text is above image */
}


/* Workout Section */
.workout-section {
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;
}

.workout-section h2 {
    font-size: 2.5rem;
    margin-bottom: 60px;
    margin-top: 50px; 
}

/* Carousel */ 
.carousel-container {
    width: 100%;
    display: flex;
    justify-content: center;
   
    
}

.carousel {
    display: flex;
    justify-content: space-evenly; 
    transition: transform 0.5s ease;
    width: 100%;
    /* padding: 10px; */
}

.workout-card {
    width: 250px; 
    height: 600px; 
    margin: 0 20px; 
    position: relative;
    text-align: center;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform-origin: center;
    opacity: 0.6; /* Slightly dim by default */
}

.workout-card img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.workout-card h3, .workout-card p {
    position: absolute;
    width: 100%;
    left: 0;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    transition: opacity 0.3s ease;
}

.workout-card h3 {
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
}

.workout-card p {
    bottom: 20px;
    font-size: 1rem;
    opacity: 0; /* Default hiding */
}

/* Card effect when mouse hover */
.workout-card:hover {
    transform: scale(1.1);
    opacity: 0.9; 
}

.workout-card:hover img {
    opacity: 1; 
}

.workout-card:hover p {
    opacity: 1; /* The text is displayed when hoverings */
}

/* responsive design */

#menu-desktop {
    display: flex;
}

#menu-mobile {
    display: none;
}


/* home page */
/* The navigation bar is adjusted in components */
@media (max-width: 600px) {
    /* 12Pro: 390 * 844 */

    .feature-card {
        height: 400px;
        margin: 10px 0;
    }

    /* There's a gap on both sides of the card */
    .feature-section {
        flex-direction: column;
    }

    .card-content h2 {
        font-size: 1.5rem; 
    }

    /* Adjust the spacing between the card title and the text */
    .card-content h2 {
        margin-bottom: 3px; 
    }

    .card-content p {
        margin-top: 2.5px; 
    }

    /* Adjust the spacing between the text and the Learn More button */
    .card-content p {
        margin-bottom: 3px; 
    }

    .card-image {
        max-height: 350px; /* Further shrink the height of the image on your mobile device */
        max-width: 150px;
    }

    /* Get fit fonts */
    .home-page header h1 {
        font-size: 2rem; 
        
    }
    
}



/* fitness page */
/* When the screen width is less than 600px, the mobile navigation bar is displayed and the desktop navigation bar is hidden */
@media (max-width: 600px) {
    #menu-desktop {
        display: none;
    }

    #menu-mobile {
        display: block;
    }

    .intro-text h1 {
       font-size: 2.5rem; 
    }

    .intro-text p {
        font-size: 2.5rem;
    }

    .workout-section h2 {
        font-size: 2rem;
    }

    .workout-section .carousel {
        flex-direction: column; /* Change to portrait on mobile devices */
        align-items: center; 
    }

    .workout-card {
        width: 90%; 
        margin: 10px 0; 
        padding: 10px 0px; 

    .workout-card h3 {
        font-size: 2rem; 
    }

    .workout-card p {
        font-size: 1rem; 
    }
}
}








